@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가 커스텀 스타일 */
html,
body {
  min-height: 100vh;
  /* 기본 배경색 설정 */
  @apply bg-white dark:bg-[#1A202C];
}

body.menu-open {
  pointer-events: none;
}

body.menu-open nav,
body.menu-open .pointer-events-auto {
  pointer-events: auto;
}

img {
  content-visibility: auto;
}